# GSM static routes on project (enp13s4f0 → gateway 172.16.4.1)
#   signal 10.1.5.8/29
#   media  10.1.5.64/27

network:
  version: 2
  routes:
    - to: 10.1.5.0/24
      via: 172.16.4.1
      metric: 100
    - to: 10.1.5.8/29
      via: 172.16.4.1
      metric: 100
    - to: 10.1.5.64/27
      via: 172.16.4.1
      metric: 100
